body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0 auto;
	border-bottom: 3px solid #000;
}

header > h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.list {
	margin: 5rem auto;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.list > li {
	margin: 0 auto;
	padding: 0.5rem 1rem;
	border: 1px solid #000;
}

form {
	margin: 3rem auto;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
