<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
		<title>Message Form</title>
	</head>

	<body>
		<header>
			<h1>Form Kirim Pesan</h1>
		</header>
		<% if (!pesan || pesan.length===0) { %>
		<p>Could not find any pesan. You need to first create some!</p>
		<% } else { %>

		<h2>Pesan Yang Telah Dikirim</h2>
		<ul class="list">
			<% for (const value of pesan) { %>
			<li data-id="<%= value.id_pesan %>">
				<div><%= value.email_pengirim %></div>
				<div><%= value.isi_pesan %></div>
				<div><%= value.tanggal %></div>
			</li>
			<% } %>
		</ul>
		<% } %>
		<h2>Form Kirim Pesan</h2>
		<form id="form" action="/pesan" method="post">
			<input type="text" name="id" hidden />
			<div>
				<label for="email">Email</label>
				<input type="email" name="email" />
			</div>
			<div>
				<label for="pesan">Pesan</label>
				<textarea name="pesan" cols="30" rows="10"></textarea>
			</div>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
